/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karantina:wght@300;400;700&display=swap');

/* GLOBAL RESET */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root
{
    /* colors */
    --white-bgcolor : #FFFFFF;
    --blue-bgcolor : #33CAF4;
    --blue-fontcolor : #33CAF4;

    --logo-font : "Karantina", serif;
    --general-font : "Inter", serif;
}

/* ANIMATIONS */
@keyframes fillWidth 
{
    0%
    {
        width: 0%;
    }   

    100%
    {
        width: 100%;
    }
}

@keyframes slideInSidebar
{
    0%
    {
        transform: translateX(-600px);
    }

    100%
    {
        transform: translateX(0);
    }
}

@keyframes slideOutSidebar
{
    0%
    {
        transform: translateX(0px);
    }

    100%
    {
        transform: translateX(-600px);
    }
}

@keyframes marqueeAnimation
{
    0%
    {
        transform: translateX(-2000px);
    }

    100%
    {
        transform: translateX(2000px);
    }
}

.marquee-animation
{
    animation: marqueeAnimation ease-in-out infinite 3s;
}

.slideOutSidebar-animation{
    animation: slideOutSidebar ease-in-out forwards 400ms;
}
.slideInSidebar-animation{
    animation: slideInSidebar ease-in-out forwards 400ms;
}

.fillWidth-animation{
    animation: fillWidth ease-in-out forwards 400ms;
}

/* HTML + BODY */
html
{
    height: 100%;
    scroll-behavior: smooth;
}

body
{
    min-height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;  
    overflow-x: hidden; 
}

/* GENERAL STYLING */
button
{
    cursor: pointer;
}

.callToAction-button
{
    width: 150px;
    height: 40px;
    background-color: var(--blue-bgcolor);
    font-family: var(--general-font);
    font-weight: 900;
    color: white;
    border: 3px solid transparent;
    border-radius: .85rem;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.288);
    transition: all ease-in 500ms;
}

.sections-title
{
    font-family: var(--general-font);
    color: #987D7D;
    font-weight: 700;
    font-size: 18px;
}

.breaker
{
    width: 85%;
    height: 2px;
    background-color: grey;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.575);
    align-self: center;
    border-radius: 50px;
}

/* STYLING */

/* HEADER */
header
{
    width: 100%;
    background-color: var(--white-bgcolor);
    display: flex;
    align-items: center;
    padding: 20px 30px 10px 30px;
    gap: 60px;
}

.logo
{
    margin-right: auto;
    text-transform: uppercase;
    font-size: 1.35rem;
    font-family: var(--logo-font);
}

nav > ul.navigations
{
    list-style: none;
    display: flex;
    gap: 2.75rem;
}

ul.navigations > li
{
    position: relative;
    text-align: center;
}

ul.navigations > li:hover > a
{
    color: var(--blue-fontcolor);
}

ul.navigations > li:hover::before
{
    content: "";
    width: 0%;
    height: 4px;
    background-color: var(--blue-bgcolor);
    position: absolute;
    bottom: -10px;
    animation: fillWidth forwards 500ms;
}

ul.navigations > li > a
{
    font-size: 1.25rem;
    font-family: var(--general-font);
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: all ease-in 500ms;
}



header > .callToAction-button:hover,
#sidebar > .callToAction-button:hover
{
    background-color: white;
    border: 3px solid var(--blue-bgcolor);
    color: var(--blue-fontcolor);

}

.burger-menu
{
    width: 50px;
    height: 40px;
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.burger-menu > .line
{
    width: 100%;
    height: 2px;
    background-color: var(--blue-bgcolor);
    flex-shrink: 0;
    flex-grow: 1;
    border-radius: .45rem;
}

/* SIDEBAR */

#sidebar
{
    background-color: white;
    border-right: 3px solid var(--blue-bgcolor);
    width: 400px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    transform: translateX(-600px);
    z-index: 100;
}

#sidebar > .sidebar__header
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sidebar > nav > ul.navigations
{
    flex-direction: column;
    gap: 3.5rem;
}

#sidebar > button
{
    font-size: 15px;
}

.close {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.close > div {
    position: absolute;
    width: 70%;
    height: 4px;
    border-radius: .45rem;
    background-color: var(--blue-bgcolor);
}

.close > div:first-child {
    transform: rotate(45deg);
}
.close > div:last-child {
    transform: rotate(-45deg);
}

/* HERO */
#hero
{
    display: flex;
    gap: 80px;
    margin-top: 30px;
}

img[alt="hero"]
{
    width: 770px;
    min-height: 570px;
}

.hero__texts
{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    font-family: var(--general-font);
}

.hero__texts > p:first-of-type
{
    color: var(--blue-fontcolor);
    font-weight: 700;
}


.hero__texts > h2
{
    color: black;
    font-size: clamp(2.35rem, 6vw, 4.35rem);
    max-width: 14ch;
}

.hero__texts > p:last-of-type
{
    color: black;
    font-weight: 900;
    max-width: 30ch;
    line-height: 1.5;
}

#hero  .callToAction-button
{
    background-color: black;
}


#hero .callToAction-button:hover
{
    background-color: white;
    border: 3px solid black;
    color: black;
}

/* SERVICES MARQUEE */
.services-marquee
{
    width: 100%;
    height: 150px;
    background-color: var(--blue-bgcolor);
    display: flex;
    gap: 80px;
    overflow-x: hidden;
}

.services-marquee > ul
{
    
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    display: flex;
    gap: 150px;    
    transform: translateX(-2000px);
    animation : marqueeAnimation linear 20s infinite;
}

.services-marquee > ul > li
{
    font-size: 2rem;
    font-family: var(--general-font);
    font-weight: bold;
    width: max-content;
}

/* QUOTE */
#quote
{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#quote > h3
{
    font-family: var(--general-font);
    color: black;
    font-weight: 600;
    max-width: 28ch;
    text-align: center;
    font-size: clamp(1.35rem, 4vw, 2.25rem);
}

/* services */
#services
{
    margin-top: 40px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.card
{
    width: 330px;
    height: auto;
    padding: 20px;
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 4px 4px 0px 0px black;
    display: grid;
    grid-template-rows: 1fr 40px 2.5fr 1.5fr;
    grid-template-columns: 100%;
    gap: 25px;
    font-family: var(--general-font);
    transition: ease-in-out 500ms;
    cursor: pointer;
}

.card > .title
{
    font-weight: bold;
    font-size: clamp(1.15rem, 3vw, 1.35rem);
}

.card > .description
{
    line-height: 1.3;
    max-width: 70ch;
}   

.card > .footer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card > .footer > .price
{
    font-weight: 900;
    font-size: clamp(0.85rem, 1vw, 1.1rem);
}

.card > .footer > .callToAction-button
{
    background-color: transparent;
    border-color: black;
    color: black;
    width: 130px;
}

.card:hover 
{
    border: 2px solid var(--blue-bgcolor);
    box-shadow: 4px 4px 0px 0px var(--blue-bgcolor);
    transform: scale(1.02) translateY(-10px);
    
}

.card:hover > .footer > .callToAction-button
{
    background-color: var(--blue-bgcolor);
    border-color: whitesmoke;
    color: white;
}

/* ABOUT */

#about
{
    display: flex;
    gap: 80px;
    margin-top: 80px;
    padding: 0px 130px 0px 130px;
}

#about > .image-container
{
    min-width:450px;
    overflow: hidden;
    border-radius: 2rem;
}

#about > .image-container >  img
{
    width: 100%;
    border-radius: inherit;
    box-shadow: 0px 0px 30px 0px rgba(37, 37, 37, 0.233);
    height: 670px;
    cursor: pointer;
    transition:  ease-in-out 500ms;
}

#about > .image-container:hover > img
{
    transform: scale(1.2);
}

#about > .about-texts
{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
    font-family: var(--general-font);
}

.about-texts > h2
{
    color: black;
    font-size: clamp(2.15rem, 4vw, 3.25rem);
}

.about-texts > .about-description
{
    line-height: 2;
    max-width: 75ch;
    text-align: justify;
}

.about-texts > .footer
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.about-texts > .footer > .callToAction-button
{
    background-color: white;
    color: black;
    border-color: black;
}

.about-texts > .footer >  .callToAction-button:hover
{
    background-color: black;
    color: white;
    border-color: whitesmoke;
}

.socials-container > ul
{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}



/* MEDIA QUERIES */

/* 2xl */
@media (max-width: 1536px) 
{

}

/* xl */
@media (max-width: 1280px) 
{
    #hero
    {
        gap: 30px;
    }

    img[alt="hero"]
    {
        width: 50%;
    }

    #about
    {
        gap: 45px;
        padding: 0px 110px 0px 110px;
    }

}

/* lg */
@media (max-width: 1024px) 
{
    #about
    {
        
        padding: 0px 60px 0px 60px;
    }

    #about > .image-container
    {
        
        min-width: 350px;
    }

    .socials-container > ul
    {
        gap: 10px;
    }
}

@media (max-width: 840px) 
{
    header > nav,
    header > button
    {
        display: none;
    }

    header > .burger-menu
    {
        display: flex;
    }

    img[alt="hero"]
    {
        display: none;
    }

    #hero
    {
        background: url("../images/hero.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 500px;
        position: relative;
        justify-content: flex-start;
    }

    #hero::before
    {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.418);
    }

    #hero > .hero__texts
    {
        padding-left: 40px;
        z-index: 2;
        width: 100%;
    }

    .hero__texts > h2
    {
        color: white;
    }

    .hero__texts > p:last-of-type
    {
        color: white;
    }

    #hero  .callToAction-button
    {
        background-color: white;
        color: black;
    }


    #hero .callToAction-button:hover
    {
        background-color: black;
        border: 3px solid white;
        color: white;
    }

    #about
    {
        flex-direction: column;
    }

    #about > .image-container
    {
        min-width: 100%;
    }

    #about > .about-texts
    {
        width: 100%;
    }

}

/* md */
@media (max-width: 768px) 
{

}

/* sm */
@media (max-width: 640px) 
{
    #sidebar
    {
        width: 100%;
        border: none;
    }

    #about
    {
        padding: 0px 35px 0px 35px;
    }

}

/* xs */
@media (max-width: 475px) 
{
    #hero
    {
        justify-content: center;
    }

    #hero > .hero__texts
    {
        padding: 20px;
        align-items: center;
        text-align: center;
    }

    #about > .about-texts > .footer 
    {
        flex-direction: column;
        gap: 15px;
    }

    #about > .about-texts > .footer .callToAction-button
    {
        width: 100%;
    }

    .socials-container > ul
    {
        gap: 40px;
    }
}